* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

body > header {
  height: 16vh;
  margin-bottom: 0.1em;
}

body > header div {
  color: white;
  background-color: #1d2029;
  text-align: center;
  line-height: 2em;
  font-size: 1.2em;
  height: 65%;
}

body header div h1 {
  padding-top: 0.4em;
}

body nav {
  background-color: #394053;
  height: 35%;
}

body nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  font-size: 1.2em;
}

body nav ul a {
  text-decoration: none;
  color: rgb(250, 244, 244);
}

body nav ul li a:hover {
  border-bottom: 2px solid white;
}

body > header p {
  font-size: 1.4em;
}

main {
  height: 76%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  height: 76%;
  width: 78%;
  display: flex;
  justify-content: space-between;
}

article {
  height: 100%;
  width: 85%;
  margin: 0.3em;
  background-color: rgb(247, 249, 252);
}

article > header h1 {
  margin: 0.5em 0;
}

article header h2 {
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid black;
}

article header {
  padding: 0.6em;
  border-radius: 0.3em;
}

article header div {
  line-height: 0.7em;
  margin: 0.3em 0.7em;
  font-size: 1.3em;
}

article header div p {
  font-size: 0.9em;
}

article div {
  padding: 0.3em 1em;
}

article section {
  height: 40%;
  border-top: 2px solid black;
  margin-top: 2%;
  padding: 1em;
}

article section h3 {
  margin-bottom: 0.7em;
}

article section ul {
  margin-left: 2em;
}

article section p {
  font-size: 1.2em;
  line-height: 1.3em;
}

article section mark {
  font-size: 1.2em;
  line-height: 2em;
}

article section figure {
  height: 50%;
  width: 90%;
}

article section figure img {
  width: 100%;
}

article section figure figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  color: white;
  background-color: #1d2029;
  font-size: 1.2em;
}

article div p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

article div h3 {
  font-size: 1.3em;
}

article div > p {
  font-size: 1.6em;
  font-weight: 500;
}

article details {
  margin: 1em 0;
  padding: 0.5em 0 0.5em 0.5em;
  background-color: rgb(227, 229, 255);
  border-left: 5px solid rgb(146, 129, 101);
}

article details summary {
  font-size: 1.3em;
}

article footer {
  height: 15%;
  padding: 1em 0 1em 1em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-top: 1px solid black;
}

article footer a {
  color: black;
}

aside {
  /* background: fixed; */
  width: 20%;
  background-color: rgb(247, 249, 252);
}

aside h3 {
  padding-top: 0.4em;
  font-size: 1.6em;
  text-align: center;
}

aside ul {
  list-style-type: none;
  margin-top: 4%;
  padding: 0.4em;
  border-left: 4px solid gray;
  background-color: rgb(238, 242, 247);
}

aside li a {
  color: black;
  text-decoration: none;
}

aside li {
  margin-left: 9%;
  font-size: 1.2em;
}

aside ul li a:hover {
  border-bottom: 2px solid black;
}

body > footer {
  background-color: #1d2029;
  color: white;
  text-align: center;
  line-height: 1.6em;
}
