* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  height: 100vh;
}

body > header {
  height: 12%;
}

body > header hgroup {
  color: white;
  background-color: #1d2029;
  line-height: 1.7em;
  text-align: center;
  font-size: 1.2em;
}

body nav {
  background-color: #394053;
  height: 40%;
}

body nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  font-size: 1.2em;
}

body nav ul a {
  text-decoration: none;
  color: rgb(250, 244, 244);
}

body > header p {
  font-size: 1.4em;
}

header h1 {
  margin: 0.5em 0;
}

main {
  height: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  height: 60%;
  width: 35%;
  border: 2px solid black;
  border-radius: 1em;
}

article header h2 {
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid black;
}

article header hgroup {
  display: flex;
  justify-content: space-between;
  margin: 0.3em 0.7em;
  font-size: 1.3em;
}

article div {
  padding: 0.3em 1em;
}

article div p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

article div h3 {
  font-size: 1.3em;
}

/* article footer {
  height: 20%;
  background-color: #1d2029;
  color: rgb(248, 240, 240);
  justify-content: space-evenly;
} */

body > footer {
  background-color: #1d2029;
  color: white;
  text-align: center;
  height: 6%;
}
